#include <Windows.h>
#include "Assignment.h"

ID_Image BITMAP chem.bmp
LAWS DIALOG DISCARDABLE 0, 0, 300, 150
STYLE DS_CENTER | WS_CAPTION | WS_BORDER | WS_MAXIMIZE
CAPTION "Maths-Physics-Chemistry"

BEGIN

GROUPBOX "Maths", ID_GROUPBOX1, 50, 30, 250, 165

AUTORADIOBUTTON "Complex Number Arithmetic", ID_RBBOYLESLAW, 50, 15, 103, 10, WS_TABSTOP, WS_GROUP

//First Number Real Part
LTEXT "Enter First Number(Real Part) :", -1, 55, 45, 100, 15
EDITTEXT ID_FIRSTREAL, 170, 45, 80, 15, ES_CENTER | WS_TABSTOP

//First Number Imaginary Part
LTEXT "Enter First Number(Imaginary Part) :", -1, 55, 70, 100, 15
EDITTEXT ID_FIRSTIMG, 170, 70, 80, 15, ES_CENTER | WS_TABSTOP

//Second Number Real Part
LTEXT "Enter Second Number(Real Part) :", -1, 55, 95, 100, 15
EDITTEXT ID_SECONDREAL, 170, 95, 80, 15, WS_TABSTOP | ES_CENTER

//Second Number Imaginary Part
LTEXT "Enter Second Number(Imaginary Part) :", -1, 55, 120, 100, 20
EDITTEXT ID_SECONDIMG, 170, 120, 80, 15, WS_TABSTOP | ES_CENTER

AUTORADIOBUTTON "ADD", ID_ADD, 55, 150, 35, 10, WS_TABSTOP, WS_GROUP
AUTORADIOBUTTON "SUB", ID_SUB, 100, 150, 35, 10, WS_TABSTOP, WS_GROUP
AUTORADIOBUTTON "MUL", ID_MUL, 145, 150, 35, 10, WS_TABSTOP, WS_GROUP
AUTORADIOBUTTON "DIV", ID_DIV, 190, 150, 35, 10, WS_TABSTOP, WS_GROUP

//Result
LTEXT "Result :", -1, 55, 170, 60, 15
EDITTEXT ID_RESULT, 170, 170, 80, 15, WS_TABSTOP | ES_CENTER

/**************PHYSICS**************/

GROUPBOX "Physics", ID_GROUPBOX2, 370, 30, 250, 165

AUTORADIOBUTTON "Energy", ID_RBCHARLESLAW, 370, 15, 45, 10, WS_TABSTOP, WS_GROUP

LTEXT "Enter Mass(m) :", -1, 375, 65, 105, 15
EDITTEXT ID_MASS, 490, 65, 80, 15, WS_TABSTOP | ES_CENTER

LTEXT "Enter Volume(v) :", -1, 375, 90, 105, 15
EDITTEXT ID_KEVOLUME, 490, 90, 80, 15, WS_TABSTOP | ES_CENTER

LTEXT "Enter Height(h) :", -1, 375, 115, 105, 15
EDITTEXT ID_PEHEIGHT, 490, 115, 80, 15, WS_TABSTOP | ES_CENTER

//For KE and PE
LTEXT "Result :", -1, 375, 140, 105, 15
EDITTEXT ID_KE, 490, 140, 80, 15, WS_TABSTOP | ES_CENTER

//Radio Button For KE
AUTORADIOBUTTON "Clacluate KE", ID_CALCULATEKE, 375, 160, 60, 10, WS_TABSTOP, WS_GROUP

//Radio Button For KE
AUTORADIOBUTTON "Clacluate PE", ID_CALCULATEPE, 485, 160, 60, 10, WS_TABSTOP, WS_GROUP

//Select PE
AUTORADIOBUTTON "PE", ID_SELECTPE, 375, 45, 20, 10, WS_TABSTOP

//Select KE
AUTORADIOBUTTON "KE", ID_SELECTKE, 410, 45, 20, 10, WS_TABSTOP


/**************CHEMISTRY**************/

GROUPBOX "Heat Capacity", ID_GROUPBOX3, 200, 220, 250, 145

AUTORADIOBUTTON "Chemistry", ID_RBCHEMISTRY, 200, 205, 45, 10, WS_TABSTOP, WS_GROUP

LTEXT "Enter Energy Required(J) :", -1, 215, 235, 105, 15
EDITTEXT ID_CENERGY, 330, 235, 80, 15, WS_TABSTOP | ES_CENTER

LTEXT "Enter Mass(m) :", -1, 215, 260, 105, 15
EDITTEXT ID_CMASS, 330, 260, 80, 15, WS_TABSTOP | ES_CENTER

LTEXT "Enter Temperature(delta T) :", -1, 215, 285, 105, 15
EDITTEXT ID_CDELTATEMP, 330, 285, 80, 15, WS_TABSTOP | ES_CENTER

AUTORADIOBUTTON "Specific Heat", ID_RBCSPECIFICHEAT, 215, 330, 60, 10, WS_TABSTOP, WS_GROUP

LTEXT "Result :", -1, 215, 310, 105, 15
EDITTEXT ID_CSPECIFICHEAT, 330, 310, 80, 15, WS_TABSTOP | ES_CENTER

PUSHBUTTON "CANCEL", ID_CANCEL, 560, 315, 50, 20

PUSHBUTTON "RESET", ID_RESET, 480, 315, 50, 20

END







