#include<windows.h>
#include"TestForDialogAndCombo.h"

ID_Image BITMAP wallpaper.bmp
ID_ImageWallpaper BITMAP WindowWallpaper.bmp
COMPUTER_SHOP DIALOG DISCARDABLE 0, 0, 300, 150
STYLE DS_CENTER | WS_CAPTION | WS_BORDER | WS_MAXIMIZE
CAPTION "COMPUTER_SHOP"




BEGIN
LTEXT "Processor :", -1, 55, 10, 40, 10
COMBOBOX ID_Combo1, 100, 10, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Graphics Card :", -1, 40, 40, 55, 10
COMBOBOX ID_Combo2, 100, 40, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Keyboard	:", -1, 50, 130, 40, 10
COMBOBOX ID_Combo5, 100, 130, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL


LTEXT "Motherboard :", -1, 40, 100, 50, 10
COMBOBOX ID_Combo4, 100, 100, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Ram :", -1, 70, 70, 20, 10
COMBOBOX ID_Combo3, 100, 70, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "HardDisk	:", -1, 50, 160, 40, 10
COMBOBOX ID_Combo6, 100, 160, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Mouse :", -1, 50, 190, 40, 10
COMBOBOX ID_Combo7, 100, 190, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "SMPS :", -1, 50, 220, 40, 10
COMBOBOX ID_Combo8, 100, 220, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Speaker :", -1, 50, 250, 40, 10
COMBOBOX ID_Combo9, 100, 250, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Pendrive :", -1, 50, 280, 40, 10
COMBOBOX ID_Combo10, 100, 280, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Cabinet :", -1, 50, 310, 40, 10
COMBOBOX ID_Combo11, 100, 310, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

LTEXT "Fan :", -1, 50, 340, 20, 10
COMBOBOX ID_Combo12, 100, 340, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL


COMBOBOX ID_Combo1a, 250, 10, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_ComboVer, 400, 10, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_ComboPrice, 550, 10, 70, 10, CBS_SIMPLE | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo2a, 250, 40, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo3a, 250, 70, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo2b, 400, 40, 70, 10, WS_TABSTOP | CBS_SIMPLE

COMBOBOX ID_Combo3b, 400, 70, 70, 10, CBS_SIMPLE | WS_TABSTOP 

COMBOBOX ID_Combo4a, 250, 100, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo4b, 400, 100, 70, 10, CBS_SIMPLE | WS_TABSTOP 

COMBOBOX ID_Combo5a, 250, 130, 70, 10, CBS_SIMPLE | WS_TABSTOP 

COMBOBOX ID_Combo6a, 250, 160, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo6b, 400, 160, 70, 10, CBS_SIMPLE | WS_TABSTOP 

COMBOBOX ID_Combo7a, 250, 190, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo7b, 400, 190, 70, 10, CBS_SIMPLE | WS_TABSTOP

COMBOBOX ID_Combo8a, 250, 220, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo8b, 400, 220, 70, 10, CBS_SIMPLE | WS_TABSTOP 

COMBOBOX ID_Combo9a, 250, 250, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo9b, 400, 250, 70, 10, CBS_SIMPLE | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo10a, 250, 280, 70, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo10b, 400, 280, 70, 10, CBS_SIMPLE | WS_TABSTOP | WS_VSCROLL


COMBOBOX ID_Combo11a, 250, 310, 70, 10, CBS_SIMPLE | WS_TABSTOP | WS_VSCROLL

COMBOBOX ID_Combo12a, 250, 340, 70, 10, CBS_SIMPLE | WS_TABSTOP | WS_VSCROLL

PUSHBUTTON "CANCEL", ID_CANCEL, 450 ,360, 50, 20

PUSHBUTTON "OK", ID_OK, 250, 360, 50, 20


END





















