#include <Windows.h>
#include "Assignment.h"

ID_Image BITMAP chem.bmp
ID_ImageD BITMAP ChemistryD.bmp
LAWS DIALOG DISCARDABLE 0, 0, 300, 150
STYLE DS_CENTER | WS_CAPTION | WS_BORDER | WS_MAXIMIZE
CAPTION "Boyle's Law And Charle's Law"

BEGIN

GROUPBOX "Boyle's Law", ID_GROUPBOX1, 50, 50, 250, 250

GROUPBOX "Charles' Law", ID_GROUPBOX2, 370, 50, 250, 250

AUTORADIOBUTTON "BOYLE'S LAW", ID_RBBOYLESLAW, 50, 35, 60, 10, WS_TABSTOP, WS_GROUP

AUTORADIOBUTTON "CHARLES' LAW", ID_RBCHARLESLAW, 370, 35, 65, 10, WS_TABSTOP, WS_GROUP

//boyle's no. of moles
LTEXT "Number of Moles[n] :", -1, 55, 75, 70, 10
EDITTEXT ID_BOYLETMOLES, 170, 75, 80, 10, ES_CENTER | WS_TABSTOP 

//charles' no. of moles
LTEXT "Number of Moles[n] :", -1, 375, 75, 70, 10
EDITTEXT ID_CHARLETMOLES, 490, 75, 80, 10, WS_TABSTOP | ES_CENTER

//boyle's inc/dec constant
LTEXT "Increment\Decrement Constant :", -1, 55, 105, 105, 10
EDITTEXT ID_BOYLETCONSTANT, 170, 105, 80, 10, WS_TABSTOP | ES_CENTER

//charles' inc/dec constant
LTEXT "Increment\Decrement Constant :", -1, 375, 105, 105, 10
EDITTEXT ID_CHARLETCONSTANT, 490, 105, 80, 10, WS_TABSTOP | ES_CENTER

//boyle's constant temperature
LTEXT "Constant Temperature[T] :", -1, 55, 135, 100, 10
EDITTEXT ID_BOYLETTEMPERATURE, 170, 135, 80, 10, WS_TABSTOP | ES_CENTER

//charles' constant pressure
LTEXT "Constant Pressure[P] :", -1, 375, 135, 100, 10
EDITTEXT ID_CHARLETPRESSURE, 490, 135, 80, 10, WS_TABSTOP | ES_CENTER

//boyle's variable pressure
LTEXT "Variable Pressure[p] :", -1, 55, 165, 90, 10
EDITTEXT ID_BOYLETPRESSURE, 170, 165, 80, 10, ES_CENTER | WS_TABSTOP

PUSHBUTTON "+", ID_BOYLEPRESSUREINC, 190, 180, 20, 10
PUSHBUTTON "-", ID_BOYLEPRESSUREDEC, 215, 180, 20, 10

//charles' variable volume
LTEXT "Variable Volume[V] :", -1, 375, 165, 90, 10
EDITTEXT ID_CHARLETVOLUME, 490, 165, 80, 10, ES_CENTER | WS_TABSTOP

PUSHBUTTON "+", ID_CHARLVOLUMEINC, 510, 180, 20, 10
PUSHBUTTON "-", ID_CHARLVOLUMEDEC, 535, 180, 20, 10

//boyle's variable volume
LTEXT "Variable Volume[V] :", -1, 55, 210, 80, 10
EDITTEXT ID_BOYLETVOLUME, 170, 210, 80, 10, ES_CENTER | WS_TABSTOP

PUSHBUTTON "+", ID_BOYLEVOLUMEINC, 190, 225, 20, 10
PUSHBUTTON "-", ID_BOYLEVOLUMEDEC, 215, 225, 20, 10

//charles' variable temp
LTEXT "Variable Temperature[T] :", -1, 375, 210, 100, 10
EDITTEXT ID_CHARLETTEMPERATURE, 490, 210, 80, 10, ES_CENTER | WS_TABSTOP

PUSHBUTTON "+", ID_CHARLTEMPINC, 510, 225, 20, 10
PUSHBUTTON "-", ID_CHARLTEMPDEC, 535, 225, 20, 10

//boyle's save and reset
PUSHBUTTON "Save State To File", ID_BOYLESAVESTATE, 80, 255, 80, 10
PUSHBUTTON "Reset", ID_BOYLERESET, 190, 255, 40, 10

//charles' save and reset
PUSHBUTTON "Save State To File", ID_CHARLSAVESTATE, 400, 255, 80, 10
PUSHBUTTON "Reset", ID_CHARLRESET, 510, 255, 40, 10

PUSHBUTTON "CANCEL", ID_CANCEL, 560, 305, 50, 20

END







